<!DOCTYPE html>
<html>
<head>
    <title>Cadastro de Usuário</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>

    <header><h1>Cadastro de Usuário</h1></header>
    
    <section>
        <form method="POST" action="/">
            <div>
                <label>Nome:</label>
                <input type="text" name="nome" required><br><br>
            </div>
            
            <div>
                <label>Telefone:</label>
                <input type="tel" name="telefone" required><br><br>
            </div>
            
            <div>
                <label>Endereço:</label>
                <input type="endereco" name="endereco" required><br><br>
            </div>
            
            <div>
                <label>Data de Nascimento:</label>
                <input type="date" name="data_nasc" required><br><br>
            </div>
            
            <div>
                <label>Observação:</label>
                <textarea name="obs" rows="10" required></textarea>
            </div>

            <div>
                <input type="submit" value="Cadastrar" id="formulario">
            </div>
        </form>
        
    </section>
</body>
</html>
