<!DOCTYPE html>
<html>
<head>
    <title>Cadastro de Usuário</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
    
    <div class="cadastro">
        <h1>Cadastro de Usuário</h1>
        <form method="POST" action="/">

            <label>Nome:</label>
            <input type="text" name="nome" required><br><br>
            <label>Telefone:</label>
            <input type="tel" name="telefone" required><br><br>
            <label>Endereço:</label>
            <input type="endereco" name="endereco" required><br><br>
            <label>Data de Nascimento:</label>
            <input type="date" name="data_nasc" required><br><br>
            <label>Observação:</label>
            <input type="text" name="obs" required><br><br>

            <input type="submit" value="Cadastrar" id="formulario">
        </form>
        
    </div>
</body>
</html>
